extends layout

block seo
	- var headTitle = status + ' Error'

block main
	#main
		.container
			h1 An Error Occurred
			p Our technical support team will solve the problem as soon as possible.

			pre
				= method + ' ' + url
				br
				= status + ' ' + message

				if error.stack
					br
					br
					= error.stack

			br
			button.btn.btn-default(type='button', onclick='window.history.back()') &larr; Go Back
